/* css variables */
:root{
  /* colors; */
  --color-text:#ffff;
  --color-primary:#4a9b58;
  --color-secondary:#11772e;
  --color-dark:#062c06;
  --color-bg:#051b0e;

  --font-roboto:"Roboto";
  

  

  



}